$btn-brown: #513427;
$btn-yellow: #FFB94D;
$containerColor: #F4F4F4;
$bodyColor: #E8EAED;

@mixin boxShadow{
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

@mixin BTN {
    background-color: $btn-yellow;
    color: white;
    width: 350px;
    height: 50px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

@mixin BTN_CADASTRO{
    height: 50px;
    width: 270px;
    background-color: $btn-brown;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    margin-top: 35px;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.validation-error{
    width: 100%;
    background-color: rgb(243, 178, 178);
    color: rgb(150, 22, 5);
    font-weight: bold;
    padding: 20px 10px;


    li{
        list-style: none;
    }
}

.validation-ok{
    width: 100%;
    background-color: rgb(213, 243, 178);
    color: rgb(5, 150, 29);
    font-weight: bold;
    padding: 20px 10px;
}


.box-error{
    border: 3px solid rgb(202, 8, 8) !important;
}

.container-1280{
    margin: 60px auto;
    max-width: 1280px;
    background-color: $containerColor;
    padding: 20px;
    @include boxShadow;
    
}
.container-1100{
    margin: 60px auto;
    max-width: 1100px;
    background-color: $containerColor;
    @include boxShadow;
    
}

.container-900{
    margin: 60px auto;
    max-width: 900px;
    background-color: $containerColor;
    padding: 20px;
    @include boxShadow;
    
}