@import 'parametros';



.search{
    display: flex;
    align-items: center;
    margin-top: 30px;

    .input-search{
        label{
            margin-right: 5px;
            font-weight: bold;
        }
        input[type=text]{
            height: 50px;
            width: 300px;
            padding: 10px;
            outline: none;
        
        }
    }
    
    select{
        height: 50px;
        appearance: none;
        width: 120px;
        text-align: center;
    }
    button[type=submit]{
       height: 50px;
       width: 130px;
       background-color: $btn-brown;
       color: white;
       margin-left: 30px;
       cursor: pointer;

    }

    .input-search:nth-child(2){
        margin: 0 30px;
    }
}


.table-livro{
    width: 100%;
    background-color: white;
    
    tr{height: 50px;}

    th:nth-child(1),
    td:nth-child(1),
    th:nth-child(5),
    td:nth-child(5),
    th:nth-child(6),
    td:nth-child(6){
        width: 8%;
        text-align: center;
    }

    th:nth-child(2),
    td:nth-child(2){
        width: 8%;
        text-align: center;
    }

    th:nth-child(3),
    td:nth-child(3){
        width: 30%;        
        padding-left: 10px;
    }

    th:nth-child(4),
    td:nth-child(4){
        width: 30%;        
        padding-left: 10px;
    }

    button{
        background: none;
        border: none;
        outline: none;

        img{
            width:  25px;
            height: 25px;
            cursor: pointer;
        }
    }
}

.table-autor{
    width: 100%;
    background-color: white;
    margin: 0 auto;
    
    tr{height: 50px;}

    th:nth-child(1),
    td:nth-child(1){
        width:8%;
        text-align: center;
    }

    th:nth-child(2),
    td:nth-child(2){
        width: 10%;        
        text-align: center;
    }

    th:nth-child(3),
    td:nth-child(3){
        width: 60%;
        padding-left: 10px;        
    }

    th:nth-child(4),
    td:nth-child(4){
        width: 10%;
        text-align: center;    
    }

    button{
        background: none;
        border: none;
        outline: none;

        img{
            width:  25px;
            height: 25px;
            cursor: pointer;
        }
    }

}

.pagination {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    a {
        color: black;
        padding: 8px;
        text-decoration: none;
      }
  }

.row-autor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    a button{
        height: 50px;
        width: 130px;
        background-color: $btn-brown;
        color: white;
        margin-top: 30px;
        cursor: pointer;
    }

    .validation-livro-ok{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 800px;
        background-color: rgb(213, 243, 178);
        color: rgb(5, 150, 29);
        font-weight: bold;
        padding: 0 10px;
        margin-left: 12%;        

        p{
            margin: 0;
        }
    }

  }

  .row-livro{
    display: flex;
    align-items: center;
    margin: 30px 0;

    a button{
        height: 50px;
        width: 130px;
        background-color: $btn-brown;
        color: white;
        cursor: pointer;
    }

    .validation-livro-ok{
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 800px;
        background-color: rgb(213, 243, 178);
        color: rgb(5, 150, 29);
        font-weight: bold;
        padding: 0 10px;
        margin: 0 auto;

        p{
            margin: 0;
        }
    }

  }

  
  .validation-autor-ok{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 500px;
    margin: 30px auto;
    background-color: rgb(213, 243, 178);
    color: rgb(5, 150, 29);
    font-weight: bold;
    padding: 0 10px;     

    p{
        margin: 0;
    }
}