@import 'parametros';

.container-1280{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 60px;

    .titulo-livro-destaque{
        margin-bottom: 30px;
    }
    .titulo-autor-destaque{
        margin: 50px 0 30px 0;
    }

      .filter-row{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
      }
      .filter-dropdown {
        position: relative;
        display: inline-block;

        .dropbtn {
            width: 160px;
            background-color: $btn-brown;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
          }

        .filter-dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            a:hover {background-color: #f1f1f1}
        }


      }      
            
      .filter-dropdown:hover .filter-dropdown-content {
        display: block;
      }
      
      .filter-dropdown:hover .dropbtn {
        background-color: $btn-brown;
      }


    .galeria-autor{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .autor-link{
            display: flex;
            flex-direction: column;
            text-align: center;
    
            a img{
                height: 275px;
                width: 205px;
                border-radius: 30px;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.392);
            }
    
            span{
                margin-top: 5px;
                word-wrap: break-word;
            }
        }

        .pagination-container{
            display: block;
            width: 100%;
            text-align: center;
    
            .pagination {
                display: inline-block;
                margin: 0 auto;
                margin-top: 20px;
        
                a {
                    color: black;
                    padding: 8px;
                    text-decoration: none;
                  }
              }
        }
    }

    .galeria-livro{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .livro-link{
            display: flex;
            flex-direction: column;
            text-align: center;
    
            img{
                height: 275px;
                width: 205px;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.392);
            }
    
            span{
                max-width: 205px;
                margin-top: 5px;
                word-wrap: break-word;
            }
        } 
    }

    .pagination-container{
        display: block;
        width: 100%;
        text-align: center;

        .pagination {
            display: inline-block;
            margin: 0 auto;
            margin-top: 20px;
    
            a {
                color: black;
                padding: 8px;
                text-decoration: none;
              }
          }
    }


      
}
