@import 'parametros';

.container-1280{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 60px;



    .filter-autor{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;

       select{
            height: 50px;
            appearance: none;
            text-align: center;
            padding: 10px;
            color: white;
            background-color: $btn-brown;
            outline: none;
       }
    }
    .galeria-autor{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .autor-link{
            display: flex;
            flex-direction: column;
            text-align: center;
    
            img{
                height: 275px;
                width: 205px;
                border-radius: 30px;
            }
    
            span{
                margin-top: 5px;
            }
        }
    }
    

    .filter-book{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;

        
       select{
            height: 50px;
            appearance: none;
            text-align: center;
            padding: 10px;
            color: white;
            background-color: $btn-brown;
            outline: none;
       }
    }

    .galeria-livro{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .livro-link{
            display: flex;
            flex-direction: column;
            text-align: center;
    
            img{
                height: 275px;
                width: 205px;
            }
    
            span{
                margin-top: 5px;
            }
        } 
    }
    
}
