@import 'parametros';

.container-1280{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 60px;

    .autor-link{
        display: flex;
        flex-direction: column;
        text-align: center;

        img{
            height: 275px;
            width: 205px;
            border-radius: 30px;
        }

        span{
            margin-top: 5px;
        }
    }

    .livro-link{
        display: flex;
        flex-direction: column;
        text-align: center;

        img{
            height: 275px;
            width: 205px;
        }

        span{
            margin-top: 5px;
        }
    } 
}
