@import 'parametros';

.banner{
    width: 100%;
    margin: 0 auto;
    
    .img-banner{
        height: 500px;
        margin: 0 auto;
        background-image: url(../../images/banner-home.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}
