* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.validation-error {
  width: 100%;
  background-color: #f3b2b2;
  color: #961605;
  font-weight: bold;
  padding: 20px 10px;
}

.validation-error li {
  list-style: none;
}

.box-error {
  border: 3px solid #ca0808 !important;
}

.container-1280 {
  margin: 60px auto;
  max-width: 1280px;
  background-color: #F4F4F4;
  padding: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.container-1100 {
  margin: 60px auto;
  max-width: 1100px;
  background-color: #F4F4F4;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.container-900 {
  margin: 60px auto;
  max-width: 900px;
  background-color: #F4F4F4;
  padding: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

body {
  background-color: #E8EAED;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.search .input-search label {
  margin-right: 5px;
  font-weight: bold;
}

.search .input-search input[type=text] {
  height: 50px;
  width: 300px;
  padding: 10px;
  outline: none;
}

.search select {
  height: 50px;
  appearance: none;
  width: 120px;
  text-align: center;
}

.search button[type=submit] {
  height: 50px;
  width: 130px;
  background-color: #513427;
  color: white;
  margin-left: 30px;
  cursor: pointer;
}

.search .input-search:nth-child(2) {
  margin: 0 30px;
}

.table-livro {
  width: 100%;
  background-color: white;
}

.table-livro tr {
  height: 50px;
}

.table-livro th:nth-child(1),
.table-livro td:nth-child(1),
.table-livro th:nth-child(5),
.table-livro td:nth-child(5),
.table-livro th:nth-child(6),
.table-livro td:nth-child(6) {
  width: 8%;
  text-align: center;
}

.table-livro th:nth-child(2),
.table-livro td:nth-child(2) {
  width: 8%;
  text-align: center;
}

.table-livro th:nth-child(3),
.table-livro td:nth-child(3) {
  width: 30%;
  padding-left: 10px;
}

.table-livro th:nth-child(4),
.table-livro td:nth-child(4) {
  width: 30%;
  padding-left: 10px;
}

.table-livro button {
  background: none;
  border: none;
  outline: none;
}

.table-livro button img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.table-autor {
  width: 100%;
  background-color: white;
  margin: 0 auto;
}

.table-autor tr {
  height: 50px;
}

.table-autor th:nth-child(1),
.table-autor td:nth-child(1) {
  width: 8%;
  text-align: center;
}

.table-autor th:nth-child(2),
.table-autor td:nth-child(2) {
  width: 10%;
  text-align: center;
}

.table-autor th:nth-child(3),
.table-autor td:nth-child(3) {
  width: 60%;
  padding-left: 10px;
}

.table-autor th:nth-child(4),
.table-autor td:nth-child(4) {
  width: 10%;
  text-align: center;
}

.table-autor button {
  background: none;
  border: none;
  outline: none;
}

.table-autor button img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.pagination {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  color: black;
  padding: 8px;
  text-decoration: none;
}

.row-autor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.row-autor a button {
  height: 50px;
  width: 130px;
  background-color: #513427;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}

.row-autor .validation-livro-ok {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 800px;
  background-color: #d5f3b2;
  color: #05961d;
  font-weight: bold;
  padding: 0 10px;
  margin-left: 12%;
}

.row-autor .validation-livro-ok p {
  margin: 0;
}

.row-livro {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.row-livro a button {
  height: 50px;
  width: 130px;
  background-color: #513427;
  color: white;
  cursor: pointer;
}

.row-livro .validation-livro-ok {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 800px;
  background-color: #d5f3b2;
  color: #05961d;
  font-weight: bold;
  padding: 0 10px;
  margin: 0 auto;
}

.row-livro .validation-livro-ok p {
  margin: 0;
}

.validation-autor-ok {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 500px;
  margin: 30px auto;
  background-color: #d5f3b2;
  color: #05961d;
  font-weight: bold;
  padding: 0 10px;
}

.validation-autor-ok p {
  margin: 0;
}
