* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.validation-error {
  width: 100%;
  background-color: #f3b2b2;
  color: #961605;
  font-weight: bold;
  padding: 20px 10px;
}

.validation-error li {
  list-style: none;
}

.validation-ok {
  width: 100%;
  background-color: #d5f3b2;
  color: #05961d;
  font-weight: bold;
  padding: 20px 10px;
}

.box-error {
  border: 3px solid #ca0808 !important;
}

.container-1280 {
  margin: 60px auto;
  max-width: 1280px;
  background-color: #F4F4F4;
  padding: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.container-1100 {
  margin: 60px auto;
  max-width: 1100px;
  background-color: #F4F4F4;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.container-900 {
  margin: 60px auto;
  max-width: 900px;
  background-color: #F4F4F4;
  padding: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

header {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  width: 100%;
}

header .header-container {
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  margin: 0 auto;
}

header .header-container nav {
  display: flex;
}

header .header-container nav ul {
  width: 170px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 8px;
}

header .header-container nav ul li {
  list-style: none;
}

header .header-container nav ul li a {
  color: #513427;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
}

header .header-container nav ul li + li {
  margin-left: 20px;
}

header .header-container form select {
  height: 50px;
  width: 80px;
  margin-right: -5px;
  background-color: #513427;
  color: white;
  appearance: none;
  text-align: center;
}

header .header-container form input[type=search] {
  height: 50px;
  width: 400px;
  outline: none;
  padding: 10px;
  border: 1px solid black;
}

header .header-container form input[type=submit] {
  height: 50px;
  width: 100px;
  background-color: #513427;
  color: white;
  margin-left: -5px;
}

.dropdown button {
  background-color: #513427;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.dropdown button:hover {
  background-color: #513427;
}
