* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.validation-error {
  width: 100%;
  background-color: #f3b2b2;
  color: #961605;
  font-weight: bold;
  padding: 20px 10px;
}

.validation-error li {
  list-style: none;
}

.validation-ok {
  width: 100%;
  background-color: #d5f3b2;
  color: #05961d;
  font-weight: bold;
  padding: 20px 10px;
}

.box-error {
  border: 3px solid #ca0808 !important;
}

.container-1280 {
  margin: 60px auto;
  max-width: 1280px;
  background-color: #F4F4F4;
  padding: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.container-1100 {
  margin: 60px auto;
  max-width: 1100px;
  background-color: #F4F4F4;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.container-900 {
  margin: 60px auto;
  max-width: 900px;
  background-color: #F4F4F4;
  padding: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.banner {
  width: 100%;
  margin: 0 auto;
}

.banner .img-banner {
  height: 500px;
  margin: 0 auto;
  background-image: url(../../images/banner-home.png);
  background-repeat: no-repeat;
  background-position: center;
}
