* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.validation-error {
  width: 100%;
  background-color: #f3b2b2;
  color: #961605;
  font-weight: bold;
  padding: 20px 10px;
}

.validation-error li {
  list-style: none;
}

.validation-ok {
  width: 100%;
  background-color: #d5f3b2;
  color: #05961d;
  font-weight: bold;
  padding: 20px 10px;
}

.box-error {
  border: 3px solid #ca0808 !important;
}

.container-1280 {
  margin: 60px auto;
  max-width: 1280px;
  background-color: #F4F4F4;
  padding: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.container-1100 {
  margin: 60px auto;
  max-width: 1100px;
  background-color: #F4F4F4;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

.container-900 {
  margin: 60px auto;
  max-width: 900px;
  background-color: #F4F4F4;
  padding: 20px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}

body {
  background-color: #E8EAED;
}

body {
  background-color: white;
}

.center {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.center .left-img-login {
  background-image: url("../../images/imagem-login.png");
  height: 100vh;
  width: 50%;
}

.center .left-img-cadastro {
  background-image: url("../../images/Imagem-Cadastro.png");
  height: 100vh;
  width: 50%;
}

.center .right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.center .right img {
  width: 200px;
  height: 165px;
}

.center .right .right-content p {
  font-size: 14px;
  font-weight: medium;
}

.center .right .right-content h1 {
  font-size: 34px;
  margin-bottom: 30px;
}

.center .right .right-content .input-container {
  display: flex;
  flex-direction: column;
}

.center .right .right-content .input-container label {
  font-size: 1rem;
  margin-bottom: 10px;
}

.center .right .right-content .input-container input {
  width: 350px;
  height: 50px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 15px;
  /* arrumar */
}

.center .right .right-content .input-container i {
  position: relative;
  top: -48px;
  left: 320px;
  cursor: pointer;
}

.center .right .right-content #login, .center .right .right-content #cadastro {
  background-color: #FFB94D;
  color: white;
  width: 350px;
  height: 50px;
  font-weight: bold;
  margin-top: 15px;
  border: none;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.center .right .right-content #link-btn {
  background-color: #FFB94D;
  color: white;
  width: 350px;
  height: 50px;
  font-weight: bold;
  margin-top: 15px;
  border: none;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  background-color: #513427;
}
